/* ------------------------------------------------------------------------------------------

01.BASE
------------------------------------------------------------------------------------------ */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Defaults ------------------------------------------------------------------------------- */

a,
ul,
ol { position: relative; }

ul,
ol { list-style: none; margin: 0; padding: 0; }

a { text-decoration: none; }

p { }


/* RESPONSIVE HELPERS ---------------------------------------------------------------------- */

// Media-Q
@screen-xxs:                 29.9375rem;       // 479px
@screen-xxs-max:             @screen-xxs;

@screen-xs:                  30rem;            // 480px
@screen-xs-min:              @screen-xs;
@screen-xs-max:              47.9375rem;

@screen-sm:                  48rem;            // 768px
@screen-sm-min:              @screen-sm;
@screen-sm-max:              61.9375rem;

@screen-md:                  62rem;            // 992px
@screen-md-min:              @screen-md;
@screen-md-max:              74.9375rem;

@screen-lg:                  75rem;            // 1200
@screen-lg-min:              @screen-lg;

@xxs: ~'(max-width: @{screen-xxs-max})';                                         // less than 479
@xs:  ~'(min-width: @{screen-xs-min}) and (max-width: @{screen-xs-max})';        // 480 to 767
@sm:  ~'(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})';        // 768 to 991
@md:  ~'(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})';        // 992 to 1199
@lg:  ~'(min-width: @{screen-lg-min})';                                          // 1200 and up








/* ------------------------------------------------------------------------------------------

02. LAYOUT

    Sections:

        -
        -
        - ...

------------------------------------------------------------------------------------------- */

/* Main Sections -------------------------------------------------------------------------- */

header {
    height: 666px;
    padding: 60px 0px;
    overflow: hidden;
}

main {

}

section {
    padding: 0px;
}

@media screen and (min-width: 768px) {
    section { padding: 60px }
}


footer {

}

/* Typography ----------------------------------------------------------------------------

    Font-families:

    1. "Montserrat" - Montserrat
                    - Regular 400
                    - Light 200

*/

/* --------- "Montserrat" --------- */

@font-face {
    font-family: 'Montserrat';
    src: url('@{themeurl}/fonts/Montserrat/Montserrat-UltraLight.eot.eot');
    src: url('@{themeurl}/fonts/Montserrat/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-UltraLight.woff') format('woff'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-UltraLight.ttf') format('truetype'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-UltraLight.svg#565d3dca80d751a268e2c36476c681bd') format('svg');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@{themeurl}/fonts/Montserrat/Montserrat-Light.eot.eot');
    src: url('@{themeurl}/fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-Light.svg#565d3dca80d751a268e2c36476c681bd') format('svg');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@{themeurl}/fonts/Montserrat/Montserrat-Regular.eot.eot');
    src: url('@{themeurl}/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
         url('@{themeurl}/fonts/Montserrat/Montserrat-Regular.svg#565d3dca80d751a268e2c36476c681bd') format('svg');
    font-style: normal;
    font-weight: 400;
}

body {
    font-size: 1.2rem;  /* Base font 12pt */
    line-height: 2.5rem;
    font-family: 'Montserrat';
    font-weight: 200;
    -webkit-font-smoothing: auto;
}

h1, .h1 { font-weight: 100; font-size: 6.4rem; line-height: 5.2rem; }
h2, .h2 { font-weight: 400; font-size: 2.5rem; line-height: 3.4rem; }
h3, .h3 { font-weight: 400; font-size: 1.6rem; line-height: 2rem; margin-top: 2.6rem; }
h4, .h4 { font-weight: 400; font-size: 1.2rem; line-height: 1.8rem; margin-bottom: 18px; }
h5, .h5 { font-weight: 400; font-size: 2.2rem; line-height: 2.4rem; margin-top: 0px; }
h6, .h6 { font-weight: 100; font-size: 2.2rem; line-height: 3.4rem; }

p, .p { font-weight: 200; font-size: 1.2rem; line-height: 1.8rem; margin-bottom: 1.3rem; }

h2,
h3,
h5,
p { margin-bottom: 1.3rem;}

.font-bold { font-weight: 400; }

.normalize-case  { text-transform: initial; }
.uppercase-case  { text-transform: uppercase; }
.normalize-style { font-style: normal; }

/* ie-fix */

html.is-ie { font-size: 66%; }

/* COLOUR ---------------------------------------------------------------------------- */

@color-primary: #f6464e;

@grey-light:  #f5f5f5;
@grey-medium: #DCDCDC;
@grey-dark:   #5a5353;

@color-copy: #969595;        /* Dark Grey, was #666 */

header { background: @color-primary; }

a      { color: @color-primary; }
p      { color: @color-copy; }

.white      { color: white; }
.grey-light { color: @grey-light; }
.grey       { color: @grey-medium; }
.grey-dark  { color: @grey-dark; }

/* User Interface: Icons ----------------------------------------------------------------- */

// i {
//     background-color: transparent;
//     background-repeat: no-repeat no-repeat;
//     background-image: url('@{themeurl}/images/svg/ui-elements.svg');
//     display: inline-block;
// }
//
// html.no-svg i {
//     background-image: url('../assets/svg/ui-elements-fallback.png');
// }

i {
    background-color: transparent;
    background-repeat: no-repeat no-repeat;
    background-image: url('@{themeurl}/images/icons/sprite@2x.png');
    background-size: 100px;
    display: inline-block;
}

i.prev-btn { width: 7px;  height: 10px; background-position: 0px 0px; }
i.next-btn { width: 7px;  height: 10px; background-position: -10px 0px; }
i.disc     { width: 10px; height: 10px; background-position: -20px 0px; }

/*

  MODULES
  -----------------------------------------
*/

.welcome-hl { margin: 112px 0 50px -7px; letter-spacing: -0.025em; }
.welcome-a { margin-top: 100px; font-size: 1.5rem; }

.la-logo {
    // background: url('@{themeurl}/images/logo_la.jpg') no-repeat 0 0 transparent;
    background: url('@{themeurl}/images/svg/la.svg') no-repeat 0 0 transparent;
    background-size: 55.5px;
    text-indent: -77777px;
    width: 60px;
    height: 50px;
    display: inline-block;
}


/* User Interface: Buttons --------------------------------------------------------------- */


.btn { padding: 7px 40px; display: inline-block;  }


/* User Interface: Helpers --------------------------------------------------------------- */

strong { color: #000; }

figure { display: block; padding: 0; margin: 0; }
figure img { width: 100%; display: block; }

.bg-light { background: @grey-light; }
.bg-white { background: white; }
.bg-dark  { background: #5a5353; }
.bg-black { background: black; }

.hidden { display: none; }

.para-main { }
.para-sub  { }
.para-last { margin-bottom: 30px; }

.borderless        { border: none; }
.marginless        { margin: 0px; }
.bgless            { background: transparent; }
.paddingless       { padding: 0px; }
.paddingless-left  { padding-left: 0px; }
.paddingless-right { padding-right: 0px; }

.rounded { border-radius: 3px; }

.disable-selection::selection              { background: transparent; }
.disable-selection::-moz-selection         { background: transparent; }

.third-height  { height: 0; padding-bottom: 33%; overflow: hidden; }
.half-height   { height: 0; padding-bottom: 50%; overflow: hidden; }
.sixty-height  { height: 0; padding-bottom: 60%; overflow: hidden; }
.full-height   { height: 0; padding-bottom: 100%; overflow: hidden; }

.text-indent { text-indent: -777777px; }
.text-underline { text-decoration: underline; }

.inherit-colour { color: inherit; }

.img-responsive { width: 100%; }

.adjustable-order { display: table; }
.adjustable-order-header { display: table-header-group; }
.adjustable-order-footer { display: table-footer-group; }

.cfix:before,
.cfix:after { display: table; content: ""; }
.cfix:after { clear: both; }
.cfix { zoom: 1; }

.v-centre { display: table; }
.v-centre-inner { display: table-cell; vertical-align: middle; float: none; }

@media screen and (min-width: 768px) {
    .v-centre-desktop { display: table; }
    .v-centre-desktop-inner { display: table-cell; vertical-align: middle; float: none; }
}

.cover img {
    overflow: hidden;
    top: 0;
    height: 100%;
    position: absolute;
    object-fit: cover; /* contain; */
}

@media screen and (max-width: 768px) {
    .cover {
        height: 0;
        padding-bottom: 50%;
        position: relative;
    }
}

/*
  ICONS
  -----------------------------------------
*/

i { width: 20px; height: 20px; display: inline-block; }

.icon-external-link { background: url('@{themeurl}/images/icons/icon-ex-link.png') no-repeat 0 0 transparent; background-size: 15px; width: 15px; height: 15px; }

/*

  MAIN
  -----------------------------------------
*/



main {

    div.work {

        ul {
            li {
                position: relative;

                margin-bottom: 60px; /* @media desktop */


                &:nth-of-type(3n + 4) {
                    clear: left;        /* @media desktop */
                }
            }
        }

        figure {
            padding-bottom: 60%;
            position: relative;

            .overlay {
                opacity: 0;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #F5F5F5;
                text-align: center;

                -webkit-transition: opacity 400ms ease;
                   -moz-transition: opacity 40
                   0ms ease;
                     -o-transition: opacity 400ms ease;
                        transition: opacity 400ms ease;

                a {
                    color: #fa4242;
                    text-decoration: none;

                    i {
                        position: relative;
                        top: 2px;
                        margin-right: 5px;
                    }
                }


            }

            &:hover .overlay { opacity: 1; }



        }

        .tags {

            &:before {
                content: "LA task:";
                margin-right: 5px;
                color: @grey-medium;
                font-weight: 300;
            }

            a {
                color: #fa4242;
                margin-right: 5px;
                display: inline-block;
            }
        }

    }


}


/*
    Slider
*/

.module-ventures { }
.module-ventures-item { margin-bottom: 30px; overflow: hidden; }
.module-ventures-info { padding: 30px; }
.module-ventures-gallery {  }

.la-gallery-container { position: relative; }

.la-gallery-nav { position: absolute; bottom: 8px; right: 15px; }
.la-gallery-nav a { margin-right: 3px; }
.la-gallery-nav a:hover { opacity: 0.3; }

.la-gallery-pagi { position: absolute; bottom: 8px; right: 15px; }
.la-gallery-pagi i { margin-right: 2px; }

.disabled { opacity: 0.3; }

/*
    Mod
*/

